#segundo {
    background: rgb(62, 114, 211);
    color: darkgreen;
}

body {
    background: dimgray;
}

#footer {
    background: darkblue;
    color: white;
    text-align: center;
    padding: 0.5em;
}

#header {
    background: darkblue;
    color: white;
    padding: 0.5em;
    text-align: center;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#post {
    background: white;
    padding: 1em;
}